body {

  color: black;
  margin: 10px;
  border: 0px;
  padding: 0px;
  background: #e1dfff;
  direction: ltr;
  margin-left: 0;
 margin-right: 0;
   	padding: 0;
   	width: 100%;
	text-align: center;

}
h1 {
	color: black;
}

h2 {
	font-stretch: narrower;
	font-weight: 500;
	margin: 4px;
	color: black;
	/*text-decoration: bold; */ 
	font-size: 1.8em;
	font-weight: bold; 
}

#application {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.app-title {
	font-size: 4em; 
	font-family: sans-serif;
	display: inline;	
	margin: 10px;
	text-align: center;
	color: black;
	font-weight: bold;
	text-align: center;
}
.app-innerpanel {
	margin: 0 auto 0 auto;
}

.mainOuterPanel {
	height: 100%;
}

.docsAndConsoleVertPanel {
	width: 200px;
	/*border-style: solid;*/
}

.docListPanel {

}

.openDocsOuterPanel {
	/*border-style: none;*/
	background: none;
	width: 700px;
}

.openDocsInnerPanel {
	width: 780px
	/*border-style: none;*/
}

/*The Tab Panels*/

.gwt-TabPanel {
	background: white;
}

.gwt-TabPanelBottom {
	height: 400px;
	width: 350px;


}

.gwt-TabBar {
	border-color: white;
	width: 350px;
	height: 30px;
	padding-top: 6px;
	background-color: #c5c2ff;

}


.gwt-TabBar .gwt-TabBarItem {
  margin-left: 4px;
  padding: 4px 8px 4px 8px;
  cursor: pointer;
  cursor: hand;
  color: black;
  font-weight: normal;
  text-align: center;
  background: #9cc3f1;
  /*background: #56A0D3;*/
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}
.gwt-TabBar .gwt-TabBarItem-selected {
  cursor: default;
  background: white;
  color: black;
  font-weight: bold;
} 


/* The document boxes */

.gwt-TextBox {
	width: 220px;
	margin-left: 50px;
	margin-right: auto;
}
.gwt-RichTextArea {
	height: 320px;
	width: 310px;
	margin-left: 10px;
	margin-right: auto;
}



/* Console */

.consoleDP {
	height: 100px;
}


.leftarea {
	background: black;
}


/*The document list*/
.gwt-ListBox {
	height: 200px;
	overflow: hidden;
	color: black;
	background-color: white;
}

.consoleBox {
	height: 200px;
}

.consoleBox tr {
	height: 20px;
}


.consoleDP {
	width: 100%
	border-style: solid;
	background-color: black;
	color: white; 
	font-weight: light;
}

.consoleDP h2 {
	color: white;
}

.openDocsInnerPanel {
	border: solid;
	border-width: 1px;
	border-radius: 20px;
}

.openDocsDP {
	/*border-style: solid;*/
}



/* Decorator panel BS */

.gwt-DecoratorPanel {
		border: solid;
	border-width: 1px;
	border-radius: 20px;
}
/*
.gwt-DecoratorPanel .topCenter {
  border-top: 1px solid #bbb;
  line-height: 0px;
}
.gwt-DecoratorPanel .bottomCenter {
  border-bottom: 1px solid #bbb;
  line-height: 0px;
}
.gwt-DecoratorPanel .topCenterInner,
.gwt-DecoratorPanel .bottomCenterInner {
  height: 1px;
  line-height: 0px;
  font-size: 1px;
}
.gwt-DecoratorPanel .middleLeft {
  border-left: 1px solid #bbb;
}
.gwt-DecoratorPanel .middleRight {
  border-right: 1px solid #bbb;
}
.gwt-DecoratorPanel .middleLeftInner,
.gwt-DecoratorPanel .middleRightInner {
  width: 1px;
  line-height: 1px;
}
*/
.gwt-DecoratorPanel .topLeftInner,
.gwt-DecoratorPanel .topRightInner,
.gwt-DecoratorPanel .bottomLeftInner,
.gwt-DecoratorPanel .bottomRightInner {
  width: 5px;
  height: 5px;
  zoom: 1;
  font-size: 1px;
  overflow: hidden;
}

* html .gwt-DecoratorPanel .topLeftInner,
* html .gwt-DecoratorPanel .topRightInner,
* html .gwt-DecoratorPanel .bottomLeftInner,
* html .gwt-DecoratorPanel .bottomRightInner {
  width: 5px;
  height: 5px;
  overflow: hidden;
}