body {
	text-align: center;
}

h2 {
	font-stretch: narrower;
	font-weight: 500;
	margin: 4px;
	color: blue;
	text-decoration: underline; 
	font-size: 1.8em;
	font-weight: bold; 
}

#application {
	margin: 10px;
}

.app-title {
	font-size: 4em; 
	font-family: sans-serif;
	display: inline;	
	margin: 10px;
	text-align: center;
	color: navy;
	font-weight: bold;
	text-align: center;
}
.app-innerpanel {
	margin: 0 auto 0 auto;
}

.mainOuterPanel {
	height: 100%;
}

.docsAndConsoleVertPanel {
	/*border-style: solid;*/
}

.docListPanel {
	
}

.openDocsOuterPanel {
	/*border-style: none;*/
	background: none;
}

.openDocsInnerPanel {
	/*border-style: none;*/
}

.consoleDP {
	width: 100%
	border-style: solid;
	background-color: black;
	color: white; 
	font-weight: light;
}

.openDocsDP {
	/*border-style: solid;*/
}

